.MuiCardMedia-root {
    width: 80px !important
}

.MuiPaper-root {
    width: 400px;
    margin:  0px !important;
    margin-bottom: 15px !important;
}

.MuiCard-root {
    width: 350px;
}

.MuiCardContent-root {
    margin: 0px !important;
}

.css-iyxwn2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pay-btn {
    float: right;
    z-index: -1;
    width: 130px;
    border-radius: 20px;
    padding: 5px !important;
    margin: 15px !important;
}

.modal-content {
    margin-top: 130px !important;
}