body{
    background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}
.card{
    width: 40rem;
    height: 30rem;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
.card-body{
    padding: 3rem 0 !important;
}
.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
.container-fluid.row{
    padding-top: 6rem;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.2);
}

.slide-swipe img{
    height: 500px;
    width: 1520px;
    object-fit: cover;
    opacity: 0.7;
}

.sld{
    background: black;
    overflow: hidden;
}

.road-box {
    margin:15px !important;
    margin-left: 40px !important;
}

.button-div button{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.block-head{
    text-align: center;
}

.block-para p {
    padding: 15px;
}

.css-1uov8u-MuiPaper-root-MuiAppBar-root{

background-color: purple;

}