@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import "~bootswatch/dist/flatly/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", "sans-serif";
}

/* Css for block.jsx*/


.outer-wrapper.both {
  padding-top: 0;
  padding-bottom: 0;
  clip-path: none !important;
  transform: skewY(-2deg);
}

@media (max-width: 768px) {}